form{
    margin-left: 30px;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    
    
}


canvas{
    margin-top: 20px;
    
    
    
}

iframe{
    margin-left: 13px;
    margin-top: 1px;
    
}
